body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://svite-league-apps-content.s3.amazonaws.com/bgimages/big-red.jpg");
  background-size: contain;
  color: #F1F1F1;
  font-family: 'Roboto', sans-serif;
 }
 
 header {
  background: rgba(40, 50, 61, 0.62);
  color: black;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  margin-bottom: 20px;
 }
 
 #main-title {
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
  margin-top: 20px;
 }
 
 section {
  display: flex;
  flex-direction: row;
  width: 532px;
  justify-content: space-evenly;
  height: 25vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
 }
 
 .countdown {
  background: rgba(40, 50, 61, 0.62);
  height: 125px;
  padding: 3px 29px;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  line-height: 125px;
  margin-bottom: 5px;
 }
 
 @media screen and (max-width: 859px){
  #main-title {
    font-size: 40px;
  }
   .countdown {
    height: 100px;
    line-height: 100px;
    font-size: 48px;
  }
 }
 
 @media screen and (max-width: 540px){
  header {
    font-size: 14px;
  }
  section {
    width: 408px;
  }
 
  #main-title {
    font-size: 30px;
  }
 
  .countdown {
    height: 75px;
    line-height: 75px;
    font-size: 36px;
  }
 }
 
 @media screen and (max-width: 408px){
  h2 {
    font-size: 12px;
  }
  section {
    width: 300px;
  }
 
  #main-title {
    font-size: 20px;
  }
 
  .countdown {
    padding: 3px 20px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
 }
 
 
 
 
 
 
 